body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.perfil {
    width: 150px;
    border: 2px solid gray;
    border-radius: 5%;
}

.cartao {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
}

.sublinhado {
    text-decoration: underline;
    font-style: oblique;
    text-align: center;
}

.Borda {
    border-bottom: #d8cefe  6px solid;
    color: #2b2839;
    background: #ddebf8
}

.borda {
    border: dotted 1px red;
}